{% extends 'base.html.twig' %}

{% block title %}Tous les événements - {{ parent() }}{% endblock %}

{% block body %}

    <h1>Voir tous les événements</h1>

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col-md-4">
                    {{ form_row(form.texte) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.categories) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.cities) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.start) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.end) }}
                </div>
                <div class="col-md-4">
                    <div class="form-group text-center">
                        <button class="btn btn-primary">Recherche</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        {%  for event in events %}
            <div class="col-md-4 col-lg-3">
                {% include 'event/_event_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(events) }}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/select2.fr.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}
