{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <label for="inputEmail" class="sr-only">Adresse email</label>
        <input type="email" name="email" value="{{ last_username }}" id="inputEmail" class="form-control"
               placeholder="Adresse email" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
               required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <input type="checkbox" id="remember_me" name="_remember_me">
            <label for="remember_me">Je souhaite rester connecté 30 jours</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
