{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

    <h1>Créer un compte</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Register
                </button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}