{% extends 'base.html.twig' %}

{% block title %}Editer un événement - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Editer l'événement</h1>

    {{ include('event/account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_account') }}">Retour à la liste</a>

    {{ include('event/account/_delete_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/select2.fr.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}
