{% extends 'base.html.twig' %}

{% block title %}Vos événements - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mes événements</h1>

    {%  for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>City</th>
                <th>Label</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.end ? event.end|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.label }}</td>
                <td>{{ event.created ? event.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Pas encore d'événement proposé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Ajouter un nouvel événement</a>
{% endblock %}
