{% extends 'base.html.twig' %}

{% block title %}Vos événements - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mes événements</h1>

    {%  for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Titre de l'événement</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Ville</th>
            <th>Vues</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.label }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.end ? event.end|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.views }}</td>
                <td>{{ event.registers | length }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Pas encore d'événement proposé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Ajouter un nouvel événement</a>
{% endblock %}
